:root{
  --font-color: #ffffff;
  --fontSecondary-color: #f95738;
  --fontThird-color: #606569;
  --primary-color: #21212b;
  --button-disabled: #9f3e2f;
}

.header h1{
  color: var(--font-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: clamp(1rem, 2.5em, 2rem);
  user-select: none;
  margin-bottom: 1.3em;
}

div.mainContent{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

main.mainContent{
  width: 50vw;
  min-width: 300px;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
}

.inputArea{
  margin-bottom: 2em;
  position: relative;
  width: 100%;
  height: 3.3em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.inputArea input[type="text"]{
  width: 85%;
  outline: 0;
  background-color: var(--primary-color);
  height: 100%;
  border-radius: 5px;
  caret-color: var(--font-color);
  color: var(--font-color);
  padding: 1em;
  border: 0;
  font-size: 1.3em;

  &::placeholder{
    font-weight: 500;
    user-select: none;
  }

  &:focus{
    border: 1px solid var(--fontThird-color);
  }
}

.inputArea button{
  background-color: var(--fontSecondary-color);
  outline: 0;
  border-radius: 5px;
  width: 15%;
  min-width: 100px;
  border: 0;
  font-weight: 500;
  font-size: 1em;
  color: var(--font-color);
  cursor: pointer;
}
 
.inputArea::after{
  content: '';
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--font-color);
}

/* Task Style */

.taskComponent{
  margin-bottom: .6em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  position: relative;
  width: 100%;
  height: 3.5em;
  min-height: 3.4em;
  background-color: var(--primary-color);
  border-radius: 2px;
}

.taskComponent::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 8px;
  background-color: var(--fontSecondary-color);
  border-radius: 2px 0 0 2px;
}

.taskName{
  position: relative;
  display: flex;
}

.taskName label{
  color: var(--font-color);
  font-size: 1.2em;
  cursor: pointer;
  padding-left: 32px;
}


.taskName label{
  position: relative;
  user-select: none;
}

.taskName label::after{
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  border: 1px solid var(--fontThird-color);
}

.taskName label:hover::after{
  border: 1px solid var(--fontSecondary-color);
}

.taskName input[type="checkbox"]{
  display: none;
}

.taskName input[type="checkbox"]:checked ~ label::after{
  background-color: var(--fontSecondary-color);
  border: 0;
}

.taskName input[type="checkbox"]:checked ~ label{
  text-decoration: line-through;
  color: var(--fontThird-color);
}

.taskName input[type="checkbox"]:checked ~ .taskNameIcon{
  display: block;
}

.taskNameIcon{
  display: none;
  z-index: 1;
  position: absolute;
  width: 13px;
  color: #fff;
  top: 4px;
  left: 4px;
}

.taskDelete button{
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;

  
}

.taskDeleteIcon{
  width: 30px;
  color: #fff;
  &:hover{
    color: rgb(155, 21, 21);
  }
}

button:disabled{
  background-color: var(--button-disabled);
  color: rgba(131, 131, 131)
}

button{
  user-select: none;
}

/* Task Status */

.taskStatus{
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 5px 0 0 5px;
  height: 4em;
  min-height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1em;
}

.taskStatus p{
  margin-bottom: 0.3em;
  color: var(--font-color);
}

.taskStatus span{
  color: var(--fontSecondary-color);
}

/* Task Filter Section */

.filterTask{
  cursor: pointer;
  align-self: flex-start;
  width: clamp(100px, 15%, 400px);
  height: 3em;
  margin-bottom: 1em;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: var(--font-color);
  user-select: none;
}

.filterTask span{
  margin-right: .6em;
}

.filterIcon{
  display: flex;
  height: 3em;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.disabled{
  display: none;
}

.wide{
  width: 100%;
  min-width: 100%;
}

.filterIcon input[type="text"]{
  width: 90%;
  outline: 0;
  background-color: var(--primary-color);
  height: 100%;
  border-radius: 5px;
  caret-color: var(--font-color);
  color: var(--font-color);
  padding: 0;
  border: 0;
  font-size: 1.3em;
  transition: 2s width;
}

/* Export Excel */

.exportExcel button{
  background-color: rgb(2, 184, 2);
  border: 0;
  border-radius: 0 5px 5px 0;
  width: 70px;
  height: 64px;
  color: #fff;
  cursor: pointer;
}

.taskInfo {
  display: flex;
  width: 100%;
}