:root{
  --background-color: #181820;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif, monospace;
}

body{
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--background-color);
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}